body {
    margin: 0;
    padding: 0;
}
.carousel {
    position: relative;
    width: 900px;
    margin: 0 auto;
}
.carousel img.slide {
    display: none;
    margin: 0 auto;
}

#next, #previous {
    position: absolute;
    top: 50%;
    user-select: none;
    font-size: 80px;
    color: #fff;
    cursor: pointer;
    
    transform: translate(0, -50%);
}
#next:hover, #previous:hover {
    opacity: .8;
}
#next:active, #previous:active {
    color: #ddd;
}

#previous {
    left: 10px;
}
#next {
    right: 10px;
}

.pagesWrapper {
    padding: 20px 0;
    text-align: center;
}

.pagesWrapper #pages {
    background: rgb(73, 73, 73);
    color: #fff;
    padding: 10px;
    display: inline-block;
}



